@media screen and (min-width:800px){
* { 
  margin: 0 auto;  
}
body{
  max-width:960px;
  height:700px;
}

header {
  width: 100%;
  height: 14.28%;
  line-height:100px;
}

header p{
  width: 100%;
  height:100%;
}

.sectionOne {
  width: 20%;
  height: 85.71%;
  float:left;
  line-height:600px;
}

.sectionTwo {
  width: 40%;
  height: 28.57%;
  float:left;
  line-height:200px;
}

.sectionThree {
  width: 40%;
  height: 28.57%;
  float:left;
  margin:0;
  line-height:200px;
}

div{
  width: 80%;
  height: 35.71%;  
  float:left;
}

footer {
  width: 80%;
  height: 21.5%;
  float:left;
  margin:0;
  padding:0;
  line-height:150px;
}

ul li {
  width: 25%;
  height: 100%;
  float:left;
  display:block;
  line-height:250px;
}

ul{
  padding:0;  
  margin: 0;
  width: 100%;
  height: 100%;
}

 p {
  margin:0 auto;
  padding: 0;
  text-align: center;
  width:100%;
  height:100%; 
}
}